<!doctype html>
<html>
<head>
	<title>Let's know more!</title>
	<link rel="stylesheet" type="text/css" href="../static/mystyle.css">
</head>
<body>
	<h1>Let's know more!</h1>
	<center><img width="500" src="/static/images/DVC00005.JPG"/> </center>
	<h3>Here are some facts about me...</h3>
	<ol>
		<li>I lived in Malaysia for three years.</li>
		<li>I have never seen snow in my life.</li>
		<li>I love kiwi flavoured ice cream.</li>
	</ol>
	<button id="ba" onclick=location.href="intro" onmouseout=changeBack() onmouseover=changeColor()>Go Back</button>
		<script>
		function changeColor(){
			var cc2 = document.getElementById("ba");
			cc2.style.background=" #afed96 ";
			cc2.style.color="black";

			}
			function changeBack(){
			var back2=document.getElementById('ba');
			back2.style.background="#c9090c";
			back2.style.color="white";
			}
			var nums=[3,5,1,2,7,4];
	</script>

</body>
</html>
</body>
</html>